#user-input {
    margin: 170px 1rem;
    margin-bottom: 1rem;
}

#user-input > span {
    padding: 0.5rem;
    margin: 0.25rem;
    font-size: 0.9rem;
    border: 1px solid skyblue;
    border-radius: 1rem;
    cursor: pointer;
}

#user-input > span:hover {
    background-color: skyblue;
    color: white;
}